<!DOCTYPE html>
<html>
<head>
	<title>aboutus</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="css1.css">
	 <link href="../static/css/css2.css" rel="stylesheet" type="text/css">
	  <link href="../static/css/css2.css" rel="stylesheet" type="text/css">
	  <style type="text/css">
	  body{
	  	background: url("../static/pictures/background.jpg");
	  	color: white;
	  }	
	  .text{
	  	color: white;
	  }
	  </style>

	  <style>


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

li a:hover {
    background-color: #727272;
}
</style>

</head>
<body>
<!--	<img src="../static/pictures/nlogo.png" alt="Stickman" class="imag">-->

<img src="../static/pictures/nlogo.png" alt="Stickman" class="imag"><br>
	
	<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="feed">Stories</a></li>
  <li><a href="#contact">Saved artist</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="post">Post</a></li>
</ul>
<h1>About ArtFlict</h1><br>
<br>
<p>Artflict is a social platfrom...</p>
<br>
<br>
<br>
<h2>Team</h2>
<header>Project meneger:</header>
<header>Designer:</header>
<header>Developers:</header>
<header>Business developers:</header>
<br>
<h2>About us</h2>
<p>We are a students from meet</p>
</body>
</html>