<!DOCTYPE html>
<html>
<head>
	
	<title>post</title>
	<link rel="stylesheet" type="text/css" href="css1.css">
	<link rel="stylesheet" type="text/css" href="postcss.css">
	  <link href="../static/css/css2.css" rel="stylesheet" type="text/css">
	  <style type="text/css">
	  body{
	  	background: lightblue
	  }	
	  .text{
	  	color: white;
	  }
	  </style>
</head>
<body>
<form action="{{ url_for('add_post.adding_posts') }}" method="post">
    {{ form.csrf_token }}
 <p class="text">URL:</p>   {{ form.art_url(placeholder= "URL") }}<br><br>
    <button class="btn btn-sm btn-success" type="submit">Share</button>
</form>

</body>
</html>