<div class="profile-parallax">
{% extends "layout.html" %}
{% block content %}
</div>

<h3 class="head1" style="position: relative; top: -300; left: 250;">Tell Us About Your Journey</h3>
<!--  <hr style="border: 1px solid black; width: 1300; "/> -->
<div class="bg_blue">  
   <form  class="div3" action="{{url_for('add_journey')}}" method="POST"> Title:

   <hr style="border: 1px solid white; width: 170;position: relative;left: 20px; "/>

  <input class="input" type="text" name="title" placeholder="Title of the journey" required>
  <br>

 <h4 class="div3"> Tell us about your journey...</h4>

 <hr style="border: 1px solid white; width: 170;position: relative;left: 20px; "/>

 <textarea class="input" name="description" rows="10" cols="30" placeholder=" culture activties more info about it " required>
 </textarea>

 <br><br>

 <h4 class="div3">Locations</h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="in" rows="10" cols="30" placeholder="from telaviv rotchild street 60/57 to haifa gardens square 20/35" required>
 </textarea>

 <h4 class="div3"> Duration of Journey </h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="duration" rows="10" cols="30" placeholder="1hour to 2 hours" required>
 </textarea>

 <h4 class="div3"> Target Audience </h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="category" rows="10" cols="30" placeholder="music and nature lovers a bit of sportivic" required>
 </textarea>
 <br>

 <h4 class="div3">Requirements</h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="requirements" rows="10" cols="30" placeholder="sport shoes dry fit shirts swiming suit" required>
 </textarea>
 <br><br>

 <h4 class="div3"> Number of Participants </h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="people_range" rows="10" cols="30" placeholder="5-10 people" required>
 </textarea>
 <br><br>

 <h4 class="div3">Enter Intended Price </h4>

 <hr style="border: 1px solid white; width: 170;position: relative;left: 20px; "/>

 <textarea class="input" name="price" rows="10" cols="30" placeholder="500 shekels, 250 for the place we will rent... 100 for the security...150 for me" required>
 </textarea>
 <br><br>

 <h4 class="div3">add image url</h4>

 <hr style="border: 1px solid white; width: 170; position: relative;left: 20px;"/>

 <textarea class="input" name="picture" rows="10" cols="30" placeholder="Regular Picture" required>
 </textarea>

 <br><br><br><br>
 <button class="button2s" type="submit" style="position: relative;left: 20;">Submit!</button>

  </form>
</div>
</body>

{% endblock %}