<div class="profile-parallax">
{% extends "layout.html" %}
{% block content %}
<center>
<br><br><br><br><br><br><br><br>
  <p class="head1">Become a Storyteller </p>
 </div>
</center>
<center>
<!--   Hi {{ current_user.name }}, -->
  <br><br><br>

<div class="bg_blue">
  <br><br><br>
  <hr style="border: 1px solid white; width: 170; "/>
  <p class="div1"> Emphasis on the Storytellers feelings and experience, not on facts.<br> How your life story affected you.
  Don’t include details that aren’t necessary or interesting, and don’t be repetitive.<br>
  Talk about a challenge or hardship you overcame.<br>
  Talk about your desires, dreams,...<br>
  Try to include something for people to take away from your story: message, life lesson, values, inspiration, etc…<br>
  Be careful with your words- remember that your listeners may know nothing about your community, culture, or way of living. <br> What you say is what they know.
   </p>
  <br><br>
   <form class="div2" action="{{url_for('apply')}}" method="POST">
    
   
 
  <label for="Profession" class="words">Profession</label>  
  <input class="input" type="text" name="profession" placeholder="Enter Your Job" required>
  <br><br>
  <label for="Day Of Birth" class="words">Day Of Birth</label> 
  <input class="input" type="text" name="birthday" placeholder="Enter Your birthDate"required>
  <br><br>
  <label for="country" class="words">Country</label> 
  <input class="input" type="text" name="country" placeholder="Enter Your Country" required>
  <br><br>
  <label for="City" class="words">City</label> 
  <input class="input" type="text" name="city" placeholder="Enter Your City" required>
  <br><br>
  <label for="Phone Number" class="words">Phone Number</label> 
  <input class="input" type="text" name="number" placeholder="Enter Your Phone Number" required>
  <br><br>

    <label for="bio" class="words">Bio</label> 
  <input class="input" type="text" name="bio" placeholder="Enter Your Bio" required>
  <br><br>

    <label for="Picture" class="words"> Picture</label> 
  <input class="input" type="text" name="picture" placeholder="Enter Your Picture" required>
  <br><br>


  <br>
  <br>
  <input type="hidden" name="user_id" value= "{{ session['user_id'] }}" >
  <button class="button2s" type="submit">Submit</button>

  </form>

 
 </center>
</div>
</body>

{% endblock %}