<!DOCTYPE html>
<html>
<head>
	<title>story teller</title>
	<h1>Become A StoryTeller</h1>
</head>
<body>
	Hi____,
	<br><br><br>

	blablablablablablablalalalalalblalblalblalbalblablablablababl

	<br><br><br><br><br><br><br><br><br>
<form method='POST' action="{{ url_for('apply')}}">
  Nationallity:<br>
  <input type="text" name="nation" placeholder="Enter Your Nationallity" required>
  <br>
  Work:<br>
  <input type="text" name="Job" placeholder="Enter Your Job" required>
  <br>
  City:<br>
  <input type="text" name="City" placeholder="Enter Your City" required>
  <br>
  Phone Number<br>
  <input type="text" name="Number" placeholder="Enter Your Phone Number please" required>
  <br><br>
  <input type="submit" value="Post">
</form> 
	
</body>
</html>