<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
		<title>
			Edit Profile
		</title>
	</head>
	
	<body class="profile_page">
		<h4><a href="{{url_for('users.index')}}"><img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img" style="height: 50px;width: 250px;"></a></h4>
	<div class="row" style="background-color: rgb(246,246,246);">

		<form action="{{url_for('users.editing',teacher_id=teacher.id)}}" method="POST">
			<div align="left" class="col-md-4" style="background-color: rgb(246,246,246);">
				<div id="side_profile">

			<p>Picture:<input type="text" name="profile_picture" placeholder ="Profile picture link" style="float: right;"></p>
			
			<br>
			<p>First Name<input type="text" name="fname" value="{{ teacher.fname }}" style="float: right;"> </p>
			<p>Last Name<input type="text" name="lname" value="{{ teacher.lname }}" style="float: right;"> </p>
			<br>
			<table class="side_profile_table">

				<tr>
					<th>Phone Number</th> 
					<td> <input type="text" maxlength="10" minlength="9" placeholder="{{ teacher.phone_num }}" name="phone_num"> </td>
				</tr>
				<tr> 

					<th>City</th> 
					<td>
						<select name="city">
							{% for c in all_cities %}
							<option value="{{c.city}}" name="city">{{c.city}}</option>
							{% endfor %}
						</select> 
					 </td>
				<tr> 

					<th>Charge</th> 
					<td>
					<input type="text" placeholder="{{teacher.cost}}" name="fee"> 
					</td>
				</tr>
				<tr> 
					<th>Languages</th> 
						<td> 							
						<input type="checkbox" name="hebrew" value="hebrew">Hebrew 
						<input type="checkbox" name="arabic" value="arabic">Arabic 
						<input type="checkbox" name="english" value="english">English
						</td>
				</tr>
				<tr>
					<th>Gearbox</th> 
					<td> <input type="checkbox" name="automatic" value="automatic">Automatic
					 	<input type="checkbox" name="manual" value="manual">Manual
					  </td>
				</tr>
			</table>
			<br> 
			</div>
			</div>
			<div class="col-md-8" style="background-color: rgb(246,246,246);">
			<div id="main_profile">
			<h3 id="profile_name">
				Edit Profile</h3>
			<br>
			<h4 class="profile_title">
			About
			</h4>
			<div id="profile_about">
				<textarea name="description" id="edit_about">{{ teacher.description }}</textarea>
					 
			</div>

			<input type="submit" name="submit" class="btn btn-primary btn-lg" role="button" value="Done">
			<a onclick="window.history.go(-1); return false;" class="btn btn-danger btn-lg" role="button">Cancel</a>
			<a href="{{url_for('users.delete',teacher_id=teacher.id) }}" class="btn btn-danger btn-lg" role="button" style="float: right">Delete user</a>

		</div>
	</div>
	</form>
</div>
	</body>
</html>