<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
		<title>
			Edit Your profile
		</title>
	</head>
	
	<body class="profile_page">
		<h4><a href="{{url_for('users.index')}}"><img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img" style="height: 50px;width: 250px;"></a></h4>
	<div class="row" style="background-color: rgb(246,246,246);">
		<form action="{{url_for('users.editing',teacher_id=teacher.id)}}" method="POST">
			<div id="side_profile" align="left" class="col-md-3">
				 <p>Picture: <input type="file" name="pic" accept="image/*"></p>
			<br>
			<p>Your name:<input type="text" name="name" value="{{ teacher.name }}"> </p>
			<br>
			<table>
				<tr>
					<th> <u> Phone number:</u></th> 
					<td> <input type="text" maxlength="10" minlength="9" placeholder="{{ teacher.phone_num }}" name="phone_num"> </td>
				</tr>
				<tr> 

					<th> <u> City:</u></th> 
					<td>
					<input type="text" placeholder="{{ teacher.city }}" name="city"> 
					 </td>
				</tr>
				<tr> 

					<th> <u> Fee (only in numbers, by Shekel) :</u></th> 
					<td>
					<input type="text" placeholder="{{ teacher.fee }}" name="fee"> 
					 </td>
				</tr>
				<tr> 
					<th> <u> Languages:</u></th> 
					<td> 							
						<input type="checkbox" name="hebrew" value="hebrew">Hebrew </option>
						<input type="checkbox" name="arabic" value="arabic">Arabic </option>
						<input type="checkbox" name="english" value="english">English </option>
						</td>
				</tr>
				<tr> 
					<th><u> License Number:</u></th>
					<td> <input type="text" name="license" minlength="6" maxlength="8" placeholder="{{ teacher.license_num }}"> </td>
				</tr>
				<tr>
					<th> <u> Gearbox:</u></th> 
					<td> <input type="checkbox" name="car_type" name="automatic">Automatic
					 <input type="checkbox" name="car_type" name="manual">Manual
					  </td>
				</tr>
			</table>
			<br> 
		</div>
		<div id="main_profile" class="col-md-9">
			<h3 id="profile_name">
				EDIT PROFILE</h3>
			<br>
			<h4 class="profile_title">
			ABOUT
			</h4>
			<div id="profile_about">
				<textarea id="edit_about">{{ teacher.description }}
				</textarea>
					 
			</div>
			<input type="submit" name="submit" class="edit_button">
			<a href="{{url_for('profile_template')}}" class="edit_link"><button class="edit_button">Cancel</button></a>
		</div>
</form>
</div>
	</body>
</html>