
<!--<a href="post" >post</a><br> -->

<link rel="stylesheet" href="../static/css/style.css">
<img src="../static/pictures/nlogo.png" alt="Stickman" class="imag"><br>
<!--<ul class="navigation_bar" >
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="add_post">post</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
-->
{% extends "layout.html" %}
{% block content %}

 <div id="feed_space">
<style type="text/css">
  body{
    background: url("../static/pictures/background.jpg");

  }


#more {display: none;}

</style>


{% for post in posts %}

  <div class="post_block">
      <div class="valid_text_space" >
          <div class="stori_title"> {{post.get_title()}} </div>            
          <div class="description_block">
              {{ post.get_description1() }}
          </div>
          <div class="description_block">
            <span id="more"> {{ post.get_description2() }} </span> 
            <button onclick="myFunction()" id="myBtn">Read more</button>
          </div>
          <div class="publish_date_block">
              <span class="publish_date_text"> Published on:    
                  {{ post.format_date() }}
              </span>

              <div class="vote_block"><!-- 
                  <asp:ImageButton ClientIDMode="Static" CssClass="vote_button up" ID="upvote" 
                      ClientID='<%# string.Format("upvote_{0}", Eval("StoriID")) %>' 
                      runat="server" ImageURL="Images/upvote-grey.png" CommandName="vote_up"
                      CommandArgument='<%# Eval("StoriID") %>' OnClientClick="GetScrollerPosition();"/> -->

                  <span class="rating"> {{ post.format_rating() }} </span>
<!-- 
                  <asp:ImageButton ClientIDMode="Static" CssClass="vote_button down" ID="downvote" 
                      ClientID='<%# string.Format("downvote_{0}", Eval("StoriID")) %>' 
                      runat="server" ImageURL="Images/downvote-grey.png" CommandName="vote_down"
                      CommandArgument='<%# Eval("StoriID") %>' OnClientClick="GetScrollerPosition();" /> -->
              </div>
          </div>
            <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" onclick="open_add_art({{post.id}})">
Add your Art </button>
          
<!--<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>
</script>-->


<!-- The Modal -->
<div class="modal" id="addArt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header-->
      <div class="modal-header">
        <h4 class="modal-title">Share your art...</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="{{ url_for('add_post.add_art', PostID = post.id) }}" method="post">
    {{ form.csrf_token }}
 <p class="text">URL:</p>   {{ form.art_url(placeholder= "Add URL") }}<br><br>
    <button class="btn btn-sm btn-success" type="submit">Share</button>
</form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
      </div>
  </div> 
{% endfor %}

 </div>

 {% endblock %}