<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/script.js"> </script>	
		<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>	
		<title>
			EasyLicense	
		</title>
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
	</head>
	<body>

		
		<h4><a href="{{url_for('users.index')}}"><img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img" style="height: 50px;width: 250px; margin-left: 30px;"></a></h4>
	
		
			<center>
				<br><br>
				<button onclick="document.getElementById('filter_div').style.display='block'" class="button" style="color: black;">Filter</button>
			</center>
			<center>
				<div id="filter_div" class="popup">
				
					<p><a href="{{url_for('feed')}}" class="link">No Filter</a></p>
					<p id="sort_bar">Sort(Price):
						<a href="{{url_for('price_sort',sorting='low')}}" class="link">Low-->High</a>
						<a href="{{url_for('price_sort',sorting='high')}}" class="link">High-->Low</a>
					</p>
					<p id="sort_bar">Language:
						<a href="{{url_for('language_filter',language='arabic')}}" class="link">Arabic</a>
						<a href="{{url_for('language_filter',language='hebrew')}}" class="link">Hebrew</a>
						<a href="{{url_for('language_filter',language='english')}}" class="link">English</a>
					</p>
					<div class="dropdown" style="background-color: rgb(246,246,246);">
						<button class="btn btn-secondary dropdown-toggle" id="dropmenu dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;"> Choose a City <span class="caret"></span></button>
						<div class="dropdown-menu" style="position: absolute;" aria-labelledby="dropdownMenuButton">
							<!-- <ul> -->
							{% for c in all_cities %}
							<a href="{{url_for('city',city=c.id)}}" class="dropdown-item" style="font-size: 16px;">{{c.city}}   ||   </a>
						{% endfor %}

						<!-- </ul> -->
						</div>
					</div>
				</div>
				<br>

				<h2 style="color: black; font-size: 36px;">{{page}}</h2>
				<br>
				<h3 style="color: black; font-size: 24px;">{{thing}}</h3>

			</center> 
			<br>
			<div class="container" style="background-color: rgb(246,246,246);">
			<div class="row" style="background-color: rgb(246,246,246);">
	  			{% for teacher in teachers %}
	  			<div class="col-md-4" style="background-color: rgb(246,246,246);">
	  			
		  			<div class="instructor">
		  				<img src="{{teacher.profile_picture}}" class="instructor_pic">
		  				<span class="ins_info" style="color: black;">
		  					<br>
		  					<h1>{{teacher.fname}}</h1>
		  					<p>{{teacher.description}}</p>

		  					<h4 style="color: black;">Languages: {{teacher.languages}}</h4>
		  					<h4>{{teacher.city}}</h4>
		  					<h4>{{teacher.cost}} &#8362</h4>
		  					<button id="contact_btn" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Contact"><a href="profile/{{teacher.id}}">Contact</a></button>
		  				</span> 
		  			</div> 
	  			</div>
	  			{% endfor %}
	  		</div>
	  	</div>
	  		<center>
	  		<h2 style="color: black;">{{results}}</h2>
	  		</center>

	</body>
</html>
