<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>
			EasyLicense	
		</title>
	</head>
	<body>
		<ul class="nav">
		  <li class="nav"><a href="{{ feed }}">Home</a></li>
+		  <li class="nav"><a href="#">About Us</a></li>
		</ul>
		<center>
			<div class="parallax">

				<img src="../static/img/logo.png" class="biglogo">
				<br>
				<br>
				<a href="#instructordiv"><button type="button">
					I'M A STUDENT
				</button></a>
				<a href="signup"><button><span>I'M AN INSTRUCTOR</span></button></a>
				
			</div>
		</center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<center>
				<ul class="filter" id="instructordiv">
				  <li class="filter">Location
				  	<select>
						<option value="galil_elion"> Galil Elion </option>
						<option value="hof_hagalil"> Hof Hagalil </option>
						<option value="golan"> Golan </option>
						<option value="carmel"> Carmel </option>
						<option value="sharon"> Sharon </option>
						<option value="emek_israel"> Emek Israel </option>
						<option value="beit_shean"> Beit Shean </option>
						<option value="mishor_hakhof"> Mishor Hakhof </option>
						<option value="jerusalem_district"> Jerusalem District </option>
						<option value="negev"> Negev </option>
						<option value="shfelat_yehuda"> Shfelat Yehuda </option>
						<option value="judea_district"> Judea District </option>
						<option value="west_bank">West Bank </option>
						<option value="Arava"> Arava </option>
							</select></li>
				  <li class="filter">Price
				  	<select>
								<option value="high"> High to Low </option>
								<option value="low"> Low to High </option>
							</select>
				  </li>
				  <li class="filter">Language
				  <select>
								<option value="hebrew"> Hebrew </option>
								<option value="arabic"> Arabic </option>
								<option value="english"> English </option>
							</select>
						</li>
				</ul>
			<div class="row" >
	  			{% for teacher in teachers %}
	  			<div class="column">
	    			<div class="card">
	      				<img src="{{teacher.profile_picture}}" alt="{{teacher.name}}" style="width:100%" class="feed_img">
						    <div class="container">
						    	
						        <h2 id="name">{{teacher.name}}</h2>
						        <p id="area" class="feed_insturctor">{{teacher.area}}</p>
						        <p id="city" class="feed_insturctor">{{teacher.city}}</p>
						        <p id="description" class="feed_insturctor""> {{teacher.description}}</p>
						        <p id="cost" class="feed_insturctor"> {{teacher.cost}}</p>
						        <p id="languages" class="feed_insturctor"> {{teacher.languages}}</p>
						        <p><a href="profile_template.html"><button class="button">Contact</button></a></p>
		      				</div>
	    			</div>
	  			</div>
	  			{% endfor %}
	  		</div>
		</center>
	</body>
</html>
