
<div id="id04" class="modal">
  
  <form class ="modal-content animate" action="{{ url_for('users.login') }}" method="POST">
    
    <div class="container" id="login_box">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

    <div style="color: grey; font-family: helveticaneuelight;">

      <h2 id="login_title">Title</h2>

      <span class="field" style="float: left; width: 100%;">
        <label for="city" class="label"><b>City</b></label>
        <input type="text" placeholder="Enter Your City" name="city" class="bars2" required>
      </span>

      <span class="field" style="float: left; width: 100%;">
        <label for="Fee" class="label"><b>Minimum Price</b></label>
        <input type="text" placeholder="Minimum Price" name="max_price" class="bars2" required>
      </span>

      <span class="field" style="float: left; width: 100%;">
        <label for="Fee" class="label"><b>Maximum Price</b></label>
        <input type="text" placeholder="Maximum Price" name="max_price" class="bars2" required>
      </span>


      <span class="field" style="float: left; width: 100%;">
        <label for="Languages" class="label"><b>Languages You Want to Learn In</b></label>
        <br>
        <form action="/action_page.php" class="bars2">
          <input type="checkbox" name="languages_ar" value="Arabic"> Arabic <br>
          <input type="checkbox" name="languages_en" value="English"> English <br>
          <input type="checkbox" name="languages_hb" value="Hebrew"> Hebrew <br>
        </form>
      </span>

      <span class="field" style="float: left; width: 100%;">
        <label for="car_type" class="label"><b>Gearbox</b></label>
        <input type="text" placeholder="Gearbox Type" name="gearbox" class="bars2" required>
      </span>

     </div>
    <button  class="login" type="submit">Continue</button>
    <button class="login" type="submit">Skip</button>
  </div>
  </form>
  </div>