<!DOCTYPE html>
<html>
<head>
	<title>EasyLicense</title>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
<center>
	<img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img">

	<h1 id="motto">The right guidance with EasyLicense</h1>

<button onclick="location.href='http://www.google.com'" type="button" class="btn" id="inst-btn">
     <h2>I'm an Instructor</h2></button>

<button onclick="location.href='http://www.google.com'" type="button" class="btn" id="stu-btn">
     <h2>I'm a Student</h2></button>

</center>

