{% extends "layout.html" %}
{% block content %}

<style> 
h1{

	color: black;
	text-align: center; 
	font-size: 100px;	
	font-style: normal;
}
hr{

	border-color: orange;
	border-width: 10px;
}


</style>


	<div class='row'>
		<h1>INFO</h1>
	</div>

<hr>

<div>
	<h2>Instruction paragraph</h2>
	<br>
	<p>how the device & app work</p>
</div>

<hr>
<div>
	<h2>About us paragraph - who are we</h2> 
	<br>
	<p>(written by UX)</p>
</div>

<hr>

<div>
	<h2>Contact Us:</h2>
	<h3>Gmail - bsafe.comp@gmail.com</h3>
	<h4>Facebook - Bsafe</h4>

</div>

















{%endblock%} 
