{% extends "layout.html" %}
{% block content %}

<style> 
h1{

	color: black;
	text-align: center; 
	font-size: 100px;	
	font-style: normal;
}
hr{

	border-color: orange;
	border-width: 10px;
}


</style>


	<div class='row'>
		<h1>INFO</h1>
	</div>

<hr>

<div>
	<h2>Instruction paragraph</h2>
	<br>
	<p>Our product is a combination of a device that has a weight-scale in it and an app that are connected together. <br>The device is put inside the children’s boosters, if the person driving leaves the vehicle while there is still weight on the booster, a message pops up on their phone, and if they don’t confirm receiving the message, it’s sent to other contacts by an escalation policy that the user customized. <br>
So basically, each person that has a booster with the device in it, has to install the application and connect the two together by bluetooth. The user is asked to sign up or sign in if he/she already has an account. In case the user’s new and is signing up, he/she is asked to fill a form with an Email and password, and at least 2 contact numbers. They have to connect the app and device together for the first time, then they’ll start connecting automatically. As you as you get to your destination and get out of the car, the bluetooth is disconnected, if there is still weight on the booster so the app will wait for 5-10 minutes, and then send a message to one of the contacts, if the contact does not confirm 
receiving the message within 2 minutes, so the message is sent to the other contact. The app turns off when there is no weight on the booster. 
</p>
</div>

<hr>
<div>
	<h2>About us paragraph - who are we</h2> 
	<br>
	<p>We are a group of teenage students in a program called MEET which stands for Middle East Entrepreneurs of Tomorrow.<br> 
Our task was to choose a problem and come up with the best solution, so the problem that drew our attention the most was children and babies being forgotten in vehicles, which is very common and dangerous. <br>
Our product was designed in a way that will help reduce the possibilities of people forgetting children in vehicles. 
</p>
</div>

<hr>

<div>
	<h2>Contact Us:</h2>
	<h3>Gmail - bsafe.comp@gmail.com</h3>
	<h4>Facebook - Bsafe</h4>

</div>

















{%endblock%} 
