<div class="profile-parallax">
{% extends "layout.html" %}
{% block content %}
<center>
<br><br><br><br><br><br><br><br>
<h1 class="head1">About my journey</h1>
</center>
</div>
<!--
<div class= "container-fluid">

<img src="{{ journey.picture }} " style="width: 1600px; height: 450px; position: relative; top: -20px; left: -405px;">
-->

<!--  <div class="container">

</div>  -->

<!-- style="border-radius: 100%; width: 300px; height: 300px; position: relative; top: -10px; left: 330px;">
 -->

<div class="row toppad">
  <div class="col-sm-6 col-md-4 leftpad">
    <div class="thumbnail ">
      <img src="{{url_for('static', filename='profile.png')}}" class="img-fluid" alt="Responsive image" > 

      <div class="caption">
        <h3 class="head4"><a href="{{url_for('profile', user_id=journey.creator_id)}}"> {{creator.name}} </a></h3>
        <p>{{creator.bio}}</p>
      </div>
    </div>
  </div>



  	<div class = "col-md-8 info">
	<p class="head4"> location : {{journey.location}} </p>
	<p class="head4"> description : {{journey.description}} </p>
	<p class="head4"> duration : {{journey.duration}} </p>
	<p class="head4"> price : {{journey.price}} </p>
	<p class="head4"> category : {{journey.category}} </p>
	<p class="head4"> requirements : {{journey.requirements}} </p>
	<p class="head4"> people range : {{journey.people_range}} </p>

<br>
    {% if current_user.is_authenticated %}

	<form action="{{url_for('im_interested', interested_user_id=current_user.id, st_id=current_user.id, journey_id=journey.id)}}" method="POST">
	<button class="button2s" type="submit"> I'm Interested! </button>
	</form>
 	{%else%}
 	<form action="{{url_for('users.login')}}">
 	<button class="button2s" type="submit"> I'm Interested! </button>	
    </form>
    {% endif %}

	</div>
</div>
  <hr style="border: 0.5px solid black; "/>
<div class= "row">
<div class= "col-md-6 leftpad">
<h2 class="head3">Reviews of {{ journey.title }}</h2>

{% for rating in all_ratings %}

{{rating.stars}} stars<br>
{{rating.title}}
By:{{rating.user}} <br>
{{rating.review}}<br>
at: {{rating.time}}

{%endfor%}

</div>
<div class= "col-md-6">
<h2 class="head3"> Questions about {{journey.title}} </h2>

{% for question in all_questions %}
{{question.title}} by {{question.user_id}} at {{question.time}}<br>
{{question.question}}

{%endfor%}
</div>
</div>
<div class = "row" >
<div class= "col-md-6 leftpad">

     {% if current_user.is_authenticated %}

<form action="{{url_for('add_rating', journey_id=journey.id)}}" method="POST">
	<div class= "form-group" >
		<label for="stars" class="head4"> Stars </label>
		<br>
		<select class="form-control input i2" style="  width: 30px">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
	</div>
	<br>
	<div class= "form-group" >
		<label for="title" class="head4"> Title of review: </label>
		<br>
		<input class="input i2" type="text" name="title" required>
	</div>
	<br>
	<div class= "form-group" >
		<label for="review" class="head4" > Review: </label>
		<br>
		<input  class="input i2" type="text" name="review" required>
	</div>
	<br>
	<button class="button2s" type="submit"> Add Review: </button>

	{%else%}

	<input type="text" name="review" >
	<br>
	<button class="button2s" type="submit"> Add Review :"</button>

</form>
   {% endif %}
</div>

<div class= "col-md-6">

   {% if current_user.is_authenticated %}


<form action="{{url_for('question', journey_id=journey.id)}}" method="POST">
	<div class= "orm-group" >
		<label for="title" class="head4"> Title: </label>
		<br>
		<input class="input i2 type="text" name="title" required>
	</div>
	<br>
	<div class= "form-group" >
		<label for="question" class="head4"> Question </label>
		<br>
		<input class="input i2" type="text" name="question" required>
	</div>
	<br>
	<button class="button2s" type="submit"> Ask! </button>
</form>

	    {%else%}
 	<form action="{{url_for('users.login')}}">
 		<br>
 	<button  class="button2s" type="submit"> Ask! </button>	
    </form>

    {% endif %}

</div>
</div>

</div>


{% endblock %}