{% extends "layout.html" %}
{% block content %}
<style type="text/css">
	.join{
		position: absolute;
    	right: 0px;
    	max-width: 50%;
    	max-height: 100%;
    	text-align: center;	
	}
	body{
		overflow:hidden;
	}
	p{
		text-align: center;
		font-size: 60px;
	}
	img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	#video-div{
		float: left;
		width:55%;
		height:100%;
		background-color: green;
		padding-top: 25%;
		padding-left: 25%;
		padding-right:25%;
		padding-bottom: 25%;
	}

	video{
		display: block;
		margin-left: -450%;
	    width:1000%;
	} 
</style>
<div class="container-fluid">


		<div id='video-div'>
			<video height="100%" width="100%" controls>
  			<source src="static/videos/Untitled.mp4" type="video/mp4">
			</video>
		</div>



		<div class='join' align="right">
		<p>
			Join
		</p>

 		<img src='static/pictures/LOGO1080.png' width="50%" height="50%" align="center" />

 		<p>
			to learn more 
		</p>

		<a href="{{url_for('users.login')}}" style="font-size: 70px; text-align: center; color:	powderblue;">Click Here</a>
		</div>

</div>
{%endblock%} 