<!DOCTYPE html>
<html>
  <head>      

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
      <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layoutstyle.css') }}">
      


      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      



   <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!--<nav class="navbar navbar-default">-->
      <div class="container-fluid">
        <!--<div class="navbar-header">
          <a class="navbar-brand" href="#">Artflict</a>
        </div>-->
        <!--<ul class="nav navbar-nav">-->
        <ul class="navbar">
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="feed">Stories</a></li>
          <li><a href="#contact">Saved artist</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="post">Post</a></li>

        </ul>
      </div>
    </nav>

    <div class="content_div">

      {% block content %}
      {% endblock %}

    </div>

  </body>
</html>
