<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
  	<link rel="shortcut icon" href="https://ibb.co/eQTOZT"/>
	<link rel="stylesheet" type="text/css" href="../static/css/login_signup.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../static/js/login_signup.js"> </script>
</head>
<body>
<a href="{{ url_for('feed') }}" id="feed_btn">Feed</a>
<center>

  <center>

      <img src="../static/img/easylicense_logo.png" class="logo" alt="EasyLicense">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </center>

<!--################################# Signup ################################-->

<button onclick="document.getElementById('id01').style.display='block'" class="signbutton" style="font-family: helveticaneuelight">Sign Up</button>

<div id="id01" class="modal1">
  <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">&times;</span>
  <form class="modal-content" action="{{ url_for('users.register') }}" method="post">
    <div class="container1">
      <h1>Sign Up</h1>
      <p style="font-family: helveticaneuelight">Please fill in this form to create an account.</p>
      <hr>

       <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <label for="full_name"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Full Name" name="name" required>
      
      <label for="city"><b>City</b></label>
      <input type="text" placeholder="Enter Your City" name="city" required>

      <label for="Fee"><b>Fee (Enter in numbers only, by Shekel)</b></label>
      <input type="text" placeholder="Enter Your Fee" name="fee" required>

      <label for="phonenum"><b>Phone Number</b></label>
      <input type="text" placeholder="Enter your phone number" name="phonenum" required>

      <label for="Languages"><b>Languages You Teach In</b></label>
      <br>
      <form action="/action_page.php">
        <input type="checkbox" name="languages_ar" value="Arabic"> Arabic <br>
        <input type="checkbox" name="languages_en" value="English"> English <br>
        <input type="checkbox" name="languages_hb" value="Hebrew"> Hebrew <br>
      </form>
      <br>

      <label for="car_type"><b>Car Type</b></label>
      <input type="text" placeholder="Enter your car type" name="car_type" required>

      <label for="license_num"><b>License Number</b></label>
      <input type="text" placeholder="Enter your license number" name="license_num" required>

      <label for="description"><b>Description</b></label>
      <input type="text" placeholder="Describe Yourself" name="description" maxlength="200" style="height: 300px, width: 500px" required>
      
      <label for="profilepic"><b>Profile Picture link (Optional)</b></label>
      <input type="text" placeholder="Enter Profile Picture link" name="profilepic">	

	<br>
	<br>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">

        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn1">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<!--############################# Login #################################-->

<button onclick="document.getElementById('id02').style.display='block'" class="signbutton">Login</button>

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="{{ url_for('users.login') }}" method="post">
    
    <div class="container" id="login_box">
      <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

      <form action="{{ url_for('users.login') }}" method="post">
       <h2 id="login_title">SIGN IN TO YOUR ACCOUNT</h2>
        
    {{ loginform.csrf_token }}
    <br>
    <br>
    {{ loginform.username(placeholder="Email") }} 
    <br>
    <br>
    {{ loginform.password(placeholder="Password") }}
    <br>
    <br>
    <div id="keep_sign_in">
      <input type="checkbox" name="keep_sign_in" style="float:left;margin-left: 10%;" checked> Keep me signed in
    </div>
    <br>
    <br>
    <button class="btn btn-sm btn-success" type="submit">SIGN IN</button>
  </form>
    <div>
      <table style="width: 80%;">
      <tr>
        <td align="left">
          <a>Forgot your password?</a>
        </td>
        <td align="right">
          <a>No account? Create one!</a>
        </td>
      </tr> 
      </table>
    </div>
  </div>


    <div class="container">
      <center> <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button> </center>
    </div>
  </form>
</div>

</center>

</body>
</html>