
{% extends "layout.html" %}
{% block head %}
      <title>Log In!</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/loginstyle.css') }}">
{% endblock %}


{% block content %}

<style>
.form-hello{

    background-color: #D8D8D8;
    border-radius: 5px;
    height: 30px;
  }
.form-hello1{

  background-color: #D8D8D8;
  border-radius: 5px;
  heightight: 30px;

}
.btn-warning {background-color: #FFA400}
.btn-warning {border-color: #FFA400} 
.btn-warning {color: black;}
.btn-warning{font-weight: bold;}
.btn-warning{font-size: 15px;}

p{

  color: blue;
  font-size: 20px;} 

p1{

  color:blue;
  font-size: 20px;
}
p2{
  
  color:blue;
  font-weight: bold;
  font-size: 25px;
}
  
  h2{ /*Log In*/

  text-align: center;

  font-size: 35px;
  font-weight: bold;  
  
}
</style>


<div class="container" style="max-width: 960px">
  <div class="row">
    <div class="col-sm-6"> <img src="{{ url_for('static', filename = 'pictures/logosmall1.png')}}" width="360px" >
    	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <h2> Log In:</h2> 
          <form action="{{ url_for('users.login') }}" method="post">
            {{ form.csrf_token }}
            {{ form.username(class="form-hello", placeholder="Username:") }} 
            <br>
            {{ form.password(class="form-hello1", placeholder="Password:") }}

            <br>
            <button class="btn btn-sm btn-warning" type="submit">ENTER </button>
          </form>
    </div>
    <div class="col-sm-6">

           <p>Don't have an account?</p>
           <p1> Create one</p1>
           <p2> <a href="{{url_for('users.register')}}"> HERE</a></p2>
      </div>
    </div>
  </div>
	
{% endblock %}
