<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
  <link rel="shortcut icon" href="https://ibb.co/eQTOZT"/>
	<link rel="stylesheet" type="text/css" href="../static/css/login_signup.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../static/js/login_signup.js"> </script>
  <!--<img src="../static/img/easylicense_logo.png" class="logo" alt="EasyLicense"> -->
</head>
<body>
<h4><a href="{{url_for('index')}}"><img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img" style="height: 50px;width: 250px;"></a></h4>
<center>
  <center>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </center>

<!--################################# Signup ################################-->
<button onclick="document.getElementById('id01').style.display='block'" class="signbutton">Sign up</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="{{ url_for('users.login') }}" method="post">
    
    <div class="container" id="signup_box">
      <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
  <form action="{{ url_for('users.register') }}" method="post">
  <h2>Sign Up</h2>
  <center>
    <span style="float: left; width: 100%;">
      <label for="fname" class="label"><b>Full Name</b></label>
      <input type="text" name="name" placeholder="First Name" required>
    </span>

    <span style="float: left; width: 100%;">
    <label for="email" class="label"><b>Email</b></label>
      <input type="text" placeholder="email@example.com" name="email" required></span>

    <span style="float: left; width: 100%;">
    <label for="psw" class="label"><b>Password</b></label>
      <input type="password" placeholder="********" name="psw"required>
    </span>

    <span>
      <label for="psw-repeat" class="label"><b>Confirm Password</b></label>
      <input type="password" placeholder="********" name="psw-repeat" required>
    </span>
    <br>
    <span>
      <button type="submit" class="btn btn-sm btn-success">Sign Up</button>
    </span>
    </center>

  </form>
</div>
</form>
</div>


<!--############################# Login #################################-->

<button onclick="document.getElementById('id02').style.display='block'" class="signbutton">Login</button>

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="{{ url_for('users.login') }}" method="post">
    
    <div class="container" id="login_box">
      <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

      <form action="{{ url_for('users.login') }}" method="post">
       <h2 class="login_title">Login</h2>
        
    {{ loginform.csrf_token }}
    <br>
    <br>
    {{ loginform.username(placeholder="Email") }} 
    <br>
    <br>
    {{ loginform.password(placeholder="Password") }}
    <br>
    <br>
    <div id="keep_sign_in">
      <input type="checkbox" name="keep_sign_in" style="float:left;margin-left: 10%;" checked> Keep me signed in
    </div>
    <br>
    <br>
    <button class="btn btn-sm btn-success" type="submit">SIGN IN</button>
  </form>
    <div>
      <table style="width: 80%;">
      <tr>
        <td align="left">
          <a>Forgot your password?</a>
        </td>
        <td align="right">
          <p style="font-family: helveticaneuelight;">No account? <a href="{{url_for('register')}}">Create one here!</a></p>
        </td>
      </tr> 
      </table>
    </div>
  </div>
  </form>
</div>

</center>

</body>
</html>