<!--<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="logincss.css">
	<title></title>
</head>
<body>-->

{% extends "layout.html" %}
{% block content %}
 
<div class="login-modal">

	<div id="square">
		<img src="static/pictures/whitelogo.png" id="logo">



		<div class="form">
			<form action="{{ url_for('users.login') }}" method="post">
		    	{{ form.csrf_token }}
		    	username {{ form.username(placeholder="Username") }}< 
		    	password {{ form.password(placeholder="Password") }}
		    	<br>
		    	<button class="btn" type="submit">Log in</button>
	  		</form>
	  	</div>
	 
	</div>

</div>
 
{% endblock %}
<!--
</body>
</html>
-->