{% extends "layout.html" %}
{% block content %}
<div class="main_feed_body"></div>

  <div id="feed_space">
<div id="feed_space">
 
 {% for post in posts %}
 
   <div class="post_block">
    <img src={{post.ArtURL}}>
       <div class="valid_text_space" >
           <div class="stori_title"> {{post.get_title()}} </div>            
           <div class="description_block">
               {{ post.get_description1() }}
           </div>
           <div class="description_block">
             <span id="more"> {{ post.get_description2() }} </span> 
             <a href="{{url_for('view_story', PostID = post.id)}}" class="btn btn-default">Read More</a>
           </div>

           <div class="publish_date_block">
              <span class="publish_date_text"> Published on:    
                  {{ post.format_date() }}
              </span>
           </div>
              <div class="vote_block"><!-- 
                  <asp:ImageButton ClientIDMode="Static" CssClass="vote_button up" ID="upvote" 
                      ClientID='<%# string.Format("upvote_{0}", Eval("StoriID")) %>' 
                       runat="server" ImageURL="Images/upvote-grey.png" CommandName="vote_up"
                       CommandArgument='<%# Eval("StoriID") %>' OnClientClick="GetScrollerPosition();"/> -->
 
                   <span class="rating"> {{ post.format_rating() }} </span>
 <!--     
                   <asp:ImageButton ClientIDMode="Static" CssClass="vote_button down" ID="downvote" 
                       ClientID='<%# string.Format("downvote_{0}", Eval("StoriID")) %>' 
                      runat="server" ImageURL="Images/downvote-grey.png" CommandName="vote_down"
                      CommandArgument='<%# Eval("StoriID") %>' OnClientClick="GetScrollerPosition();" /> -->
              </div>
          </div>
          
        

 {% endfor %}
  </div>
 
</div>
  {% endblock %} 