{% extends "new_layout.html" %}
{% block content %}
<div class="col-xs-4" style="background-color: #454851; height: 100vh; left: 0; position: fixed; padding: 0;">
	<div class="col-xs-12" style="background-image: url(https://images.pexels.com/photos/247/city-cars-vehicles-street.jpg?auto=compress&cs=tinysrgb&h=350); margin-top: 11em; height: 19vh; background-position: center;"></div>
	<div class="col-xs-12" style="background-image: url(https://images.pexels.com/photos/804128/pexels-photo-804128.jpeg?auto=compress&cs=tinysrgb&h=350); height: 19vh; background-position: center;"></div>
	<div class="col-xs-12" style="background-image: url(https://images.pexels.com/photos/977213/pexels-photo-977213.jpeg?auto=compress&cs=tinysrgb&h=350); height: 19vh; background-position: center;"></div>
	<div class="col-xs-12" style="background-image: url(https://images.pexels.com/photos/787476/pexels-photo-787476.jpeg?auto=compress&cs=tinysrgb&h=350); height: 19vh; background-position: center;"></div>
	<div class="col-xs-12" style="background-image: url(https://images.pexels.com/photos/376729/pexels-photo-376729.jpeg?auto=compress&cs=tinysrgb&h=350); height: 19vh; background-position: center;"></div>
</div>
<div class="col-xs-4" style="left: 0;"></div>
<div class="col-xs-4" style="background-image: url(https://images.pexels.com/photos/490466/pexels-photo-490466.jpeg?auto=compress&cs=tinysrgb&h=350); height: 75vh; background-size: 150%;">
	<p style="font-family: 'ABeeZee', sans-serif; font-size: 5.5em; color: #37393a;">Getting you on the road <b>quicker</b>.</p>
</div>
<div class="col-xs-4">
	<div class="login_signup">
		<center>
			<h1 style="font-family: 'ABeeZee', sans-serif; color: ##37393a;" id="login_signup_title">Login</h1>
			<form action="{{ url_for('users.login') }}" method="post"  id="login">
				<center>
				    {{ loginform.csrf_token }}
				    {{ loginform.username(placeholder="Username") }}<br> 
				    {{ loginform.password(placeholder="Password") }}<br><br>
				    <button class="btn btn-sm btn-success" type="submit" style="font-family: 'ABeeZee', sans-serif; background: #37393a; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">Log in</button><br>
				</center>
	  		</form>
	  		<form action="{{ url_for('users.register') }}" method="post" style="display: none;" id="signup">
			    {{ signupform.csrf_token }}
			    {{ signupform.username(placeholder="Username") }}<br> 
			    {{ signupform.password(placeholder="Password") }}<br>
			    {{ signupform.confirm(placeholder="Confirm Password") }}<br><br>
			    <button class="btn btn-sm btn-success" type="submit" style="font-family: 'ABeeZee', sans-serif; background: #37393a; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">Register User</button><br>
			</form>
	  		<p id="login_signup_text" style="font-family: 'ABeeZee', sans-serif; color: #37393a; margin-top: 1em; cursor: pointer;" onclick="switch_login_signup()">Don't have an account? <b>Sign up!</b></p>
  		</center>
	</div>
</div>
{% endblock %}
