<div class="profile-parallax">
{% extends "layout.html" %}
{% block content %}
</div>}


<div class="bg_blue1">
 	<center>
		<br><h1 style="color: white;">Notifications</h1><br><br>
	 	{% for notification in all_notifications %}


		<h3 class="noti-text">{{notification.interested_user_name}}</h3> <br>
		<h4 class="noti-text"> is interested in your journey {{notification.journey_title}} <h4>

		<br>
		<p class="noti-text">{{notification.time}}<p>

		<br>
		___________________________________________________

		<br><br>
		{%endfor%}
	 </center>
</div>






{%endblock%}