{% extends "layout.html" %}
{% block content %}
<style>
body{
style="overflow:hidden;"}
#profile{

	position: fixed;
	left: 300px;
	top:100px;
}
 h1 { /*LOG OUT*/

	position: fixed;
	left: 700px;
	top: 160px;
	font-size: 30px;
 }

 h2{ /*INFORMATION*/

 	position: fixed;
 	left: 700px;
 	top: 120px;
 	font-size: 30px;
 }

h3{ /*MOM123*/
	position: fixed;
	left: 450px;
	top: 120px;
}

h4{
	position: fixed;
	left: 450px;
	top: 180px;

}

#addcontact1{
	position: fixed;
	left:250px;
	top: 300px;


}

#addcontact2{
position: fixed;
left: 550px;
top: 300px;

}

#addcontact3{
position: fixed;
left: 850px;
top: 300px;

}

.noa{
	background: linear-gradient( to right, #6F95AD , #D9EBF5); 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.orange{
	background-color: #FFA400;


}
button{

}
.btn-warning {background-color: transparent;}
.btn-warning {border-color: white} 
.btn-warning {color: black;}
.btn-warning{font-weight: bold;}
.btn-warning{font-size: 15px;}

</style>
<br><br><br><br><br><br><br><br><br><br><br>





<div>
   <img id="profile" src="{{ url_for('static', filename = 'pictures/profilepic.png')}}" height="100" width="100">
   </div>

{{session['user_id']}}
<form action="/private" method = "POST" >
	<button type="submit" class="btn btn-default">BABY IN CAR</button>
</form>
<h1><a href="{{ url_for('users.login') }}">LOG OUT</a></h1>
<h2><a href="{{ url_for('info') }}">INFORMATION!</a></h2>
<h3>{{session['name']}}</h3>
<h4>-{{session['phone']}}</h4>

<div class='noa'>
    <img id="addcontact1" src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250">
 		
    <img id="addcontact2" src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250">

    <img id="addcontact3" src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250">



<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

<div class="orange">
	<button class="btn btn-sm btn-warning" type="police"><a href="tel:+9720529553327"></a> Police Department</button>
	<br><br><br><br><br>


</div>



























{% endblock %}
