{% extends "layout.html" %}
{% block content %}
    <!-- FOR THE MODAL STYLE -->
<style>  /* The Modal (background) */

}
 h1 { /*LOG OUT*/
	font-size: 30px;
 }

 h2{ /*INFORMATION*/
 	font-size: 30px;
 }

 p{

 text-align: center;
 }


.noa{
	background: linear-gradient( to right, #6F95AD , #D9EBF5); 
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
}

.orange{
	background-color: #FFA400;


}
button{

}
.btn-warning {background-color: transparent;}
.btn-warning {border-color: white} 
.btn-warning {color: black;}
.btn-warning{font-weight: bold;}
.btn-warning{font-size: 15px;}

 
.btn-warning {background-color: #FFA400}
.btn-warning {border-color: #FFA400} 
.btn-warning {color: black;}
.btn-warning{font-weight: bold;}
.btn-warning{font-size: 15px;}
.btn-warning{margin: 0 auto;}




}
.name { margin-left: 10px; }
.phone_num { margin-left: 100px; }
.enter{margin-left: 70px;}

</style>




<!--  profile info -->
<div class = "row" style="margin-top:100px">
	<div class="col-sm-6">   
		<div class = "row">
			<div class="col-sm-6">
				<img id="profile" src="{{ url_for('static', filename = 'pictures/profilepic.png')}}" height="100" width="100">
			</div>
			<div class="col-sm-6">
				<span id="userid">{{session['user_id']}} {{user.id}}</span>

				<form action="/private" method = "POST" >
					<button type="submit" class="btn btn-default">BABY IN CAR</button>
				</form>

				<span id="name"> {{user.username}}</span>
				<span id="phone">{{user.phone}}</span>
			</div>

		</div>
	</div>
	<div class="col-sm-6">
		<h1><a href="{{ url_for('users.login') }}">LOG OUT</a></h1>
		<h2><a href="{{ url_for('info') }}">INFORMATION!</a></h2>
	</div>
</div>


<script>
function prefill_modal(name, relation, phone, contact_num) {
	console.log(contact_num)
	$('[name$=name]').val(name);
	$('[name$=relation]').val(relation);
	$('[name$=phone]').val(phone);
	$('[name$=contact_num]').val(contact_num)
	//$('[name$=modal_num]').val(modal_num);
}
</script>

<!--  contacts -->
<div class = "row noa">
	  <div class="col-sm-4">
	 	{% if user.name1 %}
	  	    <img src="{{ url_for('static', filename = 'pictures/profilepic.png')}}" height="250" width="250" onclick="prefill_modal("{{user.name1}}", "{{user.relation1}}", "{{user.phone1}}", '1')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>'
		    <span>{{ user.name1 }} {{ user.phone1 }}</span>
		{% else %} <!-- this contact doesn't exist in the database -->
	  	    <img src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250" onclick="prefill_modal("u", "r", user.phone1, '1')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>'
		{% endif %}
	  </div>
	  <div class="col-sm-4">
	 	{% if user.name2 %}
		    <span>{{ user.name2 }} {{ user.phone2 }}</span>
		{% else %} <!-- this contact doesn't exist in the database -->
	  	    <img src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250" onclick="prefill_modal("user.name2", "user.relation2", "user.phone2", '2')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>'
		{% endif %}
	  </div>
	  <div class="col-sm-4">
	 	{% if user.name3 %}
		    <span>{{ user.name3 }} {{ user.phone3 }}</span>
		{% else %} <!-- this contact doesn't exist in the database -->
	  	    <img src="{{ url_for('static', filename = 'pictures/addcontact.png')}}" height="250" width="250" onclick="prefill_modal("user.name3", "user.relation3", "user.phone3", '3')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>'
		{% endif %}
	  </div>
</div>


<div class="row orange">
	  <div class="col-sm-4">
	  	<button class="btn btn-sm btn-warning" onclick="window.alert('a call has been sent to the police department');"" type="police"><a href="tel:+9720529553327"></a> Police Department</button>
	  </div>

	 <div class="col-sm-4">
	 	<button class="btn btn-sm btn-warning" onclick="window.alert('a call has been sent to the police department');"" type="police"><a href="tel:+9720529553327"></a> MDA</button>
	  </div>
	<div class="col-sm-4">
		<button class="btn btn-sm btn-warning" onclick="window.alert('a call has been sent to the police department');"" type="police"><a href="tel:+9720529553327"></a> fire Department</button>
	 </div>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>These contacts are here to help you. In case you don't approve the alert sent, we will be contacting these contacts by order. </p>
		<form action="/add_contact" method="post">
		    {{ form.csrf_token }}

		    Name <input type="text" name="name" value="">
 			Relation <input type="text" name="relation" value="">
 			Phone <input type="text" name="phone" value="">

 			<input type="hidden" name="contact_num" value="">
		    <br>
		    <button class="btn btn-sm btn-warning"  type="submit">ENTER </button>
		  </form>

      </div> 
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>	



</div>



























{% endblock %}
