<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- links for BS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
      <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logincss.css') }}"> -->
    <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layoutstyle.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>


<title>Profile</title>
</head>


<body">
<nav class="navbar navbar-default">
  <div class="container-fluid col-sm-1" style="background-color: #660000">
    <div class="navbar-header ">
        </div>
    <ul class="nav navbar-nav">
      <li class="nav navbar-nav active col-sm-3"><a href="#">Home</a></li>
      <li class="nav navbar-nav col-sm-3"><a href="#">Page 1</a></li>
      <li class="nav navbar-nav col-sm-3"><a href="#">Page 2</a></li>
      <li class="nav navbar-nav col-sm-3"><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container">
      <div class="row float-left">

      <img src="/static/pictures/avatar.png" alt="avatar" class="container-fluid img-circle w-10 p-3 img-thumbnail row float-left col-sm-2" style="width: 150px; height:150px;">
      <div class="row col-sm-4"></div>
      <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-lg row col-sm-6" data-toggle="modal" data-target="#myModal">CONTACT ME</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">contact</h4>
      </div>
      <div class="modal-body">
        <h1>phone number:000000000</h1>
        <br><h2>email:XXXXXXXXX@gmail.com</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


       <h1 class="row float-left col-sm-12" style="padding:40px;">NAME</h1>
       <h2 class="row float-left col-sm-12" style="width:300px;">INFO ABOUT THE ARTISTart is fun art is amezing </h3>
       </div>

  


        
</div>
<div class="container">
  <h2>Image Gallery</h2>
  <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/pictures/image1.jpg" target="_blank">
          <img src="/static/pictures/image1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>image1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/pictures/image2.jpg" target="_blank">
          <img src="/static/pictures/image2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>image2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/pictures/image3.jpg" target="_blank">
          <img src="/static/pictures/image3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>img3.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



</body>
</html>