<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>
			EasyLicense	
		</title>
	</head>
	<body>
			<div id="side_profile" align="left">
				<img src="../static/img/person.jpeg" id="profile_picture">
			<br>
			<h3>
				{{teacher.name}}</h3>
			<p> {{teacher.description}} </p>
			<br>
			<table>
				<tr>
					<th> <u> Phone number:</u></th> 
					<td> {{teacher.phone_num}} </td>
				</tr>
				<tr> 

					<th> <u> Area:</u></th> 
					<td> {{teacher.area}} </td>
				</tr>
				<tr> 
					<th> <u> Languages:</u></th> 
					<td> {{teacher.languages}} </td>
				</tr>
				<tr> 
					<th><u> License Number:</u></th>
					<td> {{teacher.license_num}} </td>
				</tr>
				<tr>
					<th> <u> Car Type:</u></th> 
					<td> {{teacher.car_type}} </td>
				</tr>
			</table>
			<br> 
		</div>
			<a href="edit_profile_template.html"> Edit profie </a>
	</body>
</html>