<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>
			EasyLicense	
		</title>
	</head>
	<body>
		<center>
			<img src="../static/img/Transparent.png" class="logo">
			<br>			
			<img src="../static/img/person.jpeg" id="profile_picture">
			<br>
			<h3>
				Jacob Jacobson
			<br>
				JacobJacobson5327200@gamil.com
			</h3>
			<p> I've been teaching driving for seven years, and had accompanied over 250 students through their driver-license acquiring process. I'm currently available on Sundays and Tuesdays. </p>
			<br>
			<table>
				<tr> 
					<th> <u> Area:</u></th> 
					<td> Jerusalem </td>
				</tr>
				<tr> 
					<th> <u> Languages:</u></th> 
					<td>English, Arabic, Hebrew </td>
				</tr>
				<tr> 
					<th><u> License Number:</u></th>
					<td> 3227958 </td>
				</tr>
				<tr>
					<th> <u> Car Type:</u></th> 
					<td>Mercedes SLS </td>
				</tr>
			</table>
			<br> 
			<a href="edit_profile_template.html"> Edit profie </a>
		</center>
	</body>
</html>