<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">		
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>
			Your Profile {{teacher.name}}
		</title>
	</head>
	
	<body class="profile_page">
		<h4><a href="{{url_for('users.index')}}"><img src="../static/img/easylicense_logo.png" alt="EasyLicense" id="img" style="height: 50px;width: 250px;"></a></h4>
		<div class="row" style="background-color: rgb(246,246,246);">
			<div class="col-md-3" style="background-color: rgb(246,246,246);">
				<div id="side_profile">

				<img src="{{teacher.profile_picture}}" id="profile_picture">
			
			<br>

			<center>
			<p align="center"><i> Your inofrmation:</i> </p>
			<p align="center"><i> {{teacher.name}}</i> </p>
			<br>
			<table>
				<tr>
					<th>Phone Number:</th> 
					<td> {{teacher.phone_num | truncate(13)}} </td>
				</tr>
				
				<tr>
					<th>Email:</th> 
					<td> {{user.email | truncate(13)}} </td>
				</tr>
				<tr>
					<th>City:</th> 
					<td> {{teacher.city | truncate(13)}} </td>
				</tr>
				<tr> 
					<th>Languages:</th> 
					<td> {{teacher.languages | truncate(13)}} </td>
				</tr>

				<tr>
					<th>Gearbox:</th> 
					<td> {{teacher.car_type | truncate(13)}} </td>
				</tr>
			</table>
			<br>
			</center> 
		</div>

		<div id="main_profile" class="col-md-9">
			{% if user.id == current_user.id %}
        </div>
			<h3 id="profile_name">
				Your profile: {{teacher.name}}</h3>
				<br>
			<a href="{{ url_for('editting',teacher_id=teacher.id) }}" class="edit_link"><button class="edit_button"><b> EDIT PROFILE</b></button></a>
			{% else %}
			<h3 id="profile_name">
				Profile: {{teacher.name}}</h3>
				<br>
			<a href="#" class="edit_link"><button class="edit_button"><b>BOOK!</b></button></a>
			{% endif %}
			<br>
			<br><br>
			<h4 class="profile_title">
			ABOUT
			</h4>
			<div id="profile_about">
				<p id="about_p">
					{{teacher.description}} 
				</p>
			</div>
			<var></var>
			{% for booking in bookings %}
				<table id="booking_table">
					
					<tr>
						<th class="booking_table_title">
						Booking number {{loop.index}}
						</th>
						<th></th>
					</tr>
					<tr>
						<th class="booking_table_header">
							Name
						</th>
						<th class="booking_table_header">
							Phone Number
						</th>
					</tr>
						<td>
							{{booking.name}}
						</td>
						<td>
							{{booking.phone_num}}
						</td>
				</table>
				<br><br>
			{% endfor %}
		</div>
	</div>
	</div>
	</body>
</html>