{% extends "layout.html" %}
{% block content %}
 
<div class="add-user">
 
<div class="page-header">
<style>

h1   {color: black; text-align: center; font-size: 100px}
</style>
<h1>SIGN UP</h1>
 
  </div>
 
<form action="{{ url_for('users.register') }}" method="post">
    {{ form.csrf_token }}
    {{ form.username(placeholder="USERNAME") }} 
    {{ form.username(placeholder="PHONE NUM.") }} 
    {{ form.password(placeholder="PASSWORD") }}
    {{ form.confirm(placeholder="CONFIRM PASSWORD") }}
    * These aditional phone numbers are here to help you!
      In case you don't approve the message, we will contact them. 
    <button class="btn btn-sm btn-success" type="submit">Register User</button>
  </form>
 
</div>
 
{% endblock %}
