<!DOCTYPE html>
<html>
<head>
	<title>saved_stories</title>
	<link rel="stylesheet" type="text/css" href="css1.css">
	  <link href="../static/css/css2.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul>
  <li class="menu_item"><a href="{{url_for('users.index_page')}}">Home</a></li>
	  <li class="menu_item"><a href="{{url_for('users.stories')}}">Stories</a></li>
	  <li class="menu_item"><a href="{{url_for('users.Saved_artist')}}">Saved Artist</a></li>
	  <li class="menu_item"><a href="{{url_for('users.aboutus')}}">About us</a></li>
	  <li class="menu_item"><a href="{{url_for('users.post')}}">Post</a></li>
</ul>
<header>Saved artist</header>
</body>
</html>