{% extends "layout.html" %}
{% block content %}

<style type="text/css">
	
/*#BSID{
	font-size: 2em;
}*/	

.jumbotron-send-button{
	height: 50vh;
	width: 50vh;
	

}

#sendbutton{
	background-color: white;
	border-color: white;

}


</style>


<center>
{% if booster_seat_id %}
<!-- <div id="BSID">{{booster_seat_id}}</div> -->
{% else %}
<p>hi</p>
{% endif %}

	<div class="jumbotron jumbotron-send-button">
	<form action="/booster_seat_alert/{{booster_seat_id}}" method="post" >
	<button id="sendbutton" type="submit" class="btn btn-info btn-lg" > <img src="../static/pictures/Button2.png"> </button>
	</form>
	</div>

 <!-- <form action="/booster_seat_stop/{{booster_seat_id}}" method="post" >
<button id="sendbutton1" type="submit" class="btn btn-info btn-lg"> <img src="../static/pictures/Button1.png"> </button>
</form> -->

</center>

{%endblock%} 