<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/fonts/fonts.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/script.js"> </script>
		<title>
			{{teacher.fname}}'s Profile
		</title>
	</head>
	<body class="profile_page">
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
		  <a class="nav-link" href="{{url_for('users.index')}}">
		  	<img src="../static/img/easylicense_logo.png" alt="EasyLicense" class="navbar_logo">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarNav" style="background-color: rgb(0,115,168);">
		    <ul class="navbar-nav mr-auto mr-auto mt-2 mt-lg-0">
		    	{% if current_user.is_authenticated %}
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('profile_template')}}">My Profile</a>
		      </li>
		      	{% endif %}
		      <li class="nav-item">
		        <a class="nav-link active" href="{{url_for('feed')}}">Instructors' Feed</a>
		      </li>
		      {% if current_user.is_authenticated %}
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
		      </li>
		      {% endif %}
		      {% if not current_user.is_authenticated %}
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('users.index')}}">Login</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
		      </li>
		      {% endif %}
		      <!-- <li class="nav-item" style="float: right">
		    	<a href="https://www.facebook.com/EZLicense/"><i class="fab fa-facebook-square icons"></i></a>
		      </li>
		      <li class="nav-item" style="float: right">
				<a href="https://www.instagram.com/easy.license/?hl=en"><i class="fab fa-instagram icons"></i></a>
			  </li>
			  <li class="nav-item" style="float: right">
				<a href="https://www.linkedin.com/company/easylicense/"><i class="fab fa-linkedin icons"></i></a>
		      </li>
		      <li class="nav-item" style="float: right">
		    	<a href="mailto:easylicense18@gmail.com?Subject=Hello" target="_top"><i class="far fa-envelope icons"></i></a>
		      </li> -->
		    </ul>
		  </div>
		</nav>	
		<div class="row" style="background-color: rgb(246,246,246);">
			<div class="col-md-4" style="background-color: rgb(246,246,246);">
				<div id="side_profile">
				<img src="{{teacher.profile_picture}}" id="profile_picture">
		<center>
			<br>
			<p align="center"><i> {{teacher.fname}}</i> </p>
			<br>
			<table class="side_profile_table">
				<tr> 

					<th>City</th> 
					<td data-toggle="tooltip" data-placement="top"> {{teacher.city}} </td>
				</tr>
				<tr> 

					<th>Cost</th> 
					<td data-toggle="tooltip" data-placement="top"> {{teacher.cost}} &#8362</td>

				</tr>
				<tr> 
					<th>Language</th> 
					<td data-toggle="tooltip" data-placement="top">{{teacher.languages | truncate(55)}}</td>
				</tr>
				<tr>
					<th>Gearbox</th> 
					<td data-toggle="tooltip" data-placement="top"> {{teacher.gearbox | truncate(25)}} </td>
				</tr>
			</table>

			<br>


			<!-- Trigger/Open The Modal -->

			

			<button id="myBtn" class="book_btn">Connect</button>

			<!-- The Modal -->
			<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
	  					<span class="close">&times;</span>
	  					<h3>Book a Lesson!</h3>
					</div>
					<div class="modal-body">
						<br>
						<form name="booking_form" id="book" action="{{ url_for( 'users.make_request' , teacher_id=teacher.id ) }}" method="POST">
							First Name<br>
							<input type="text" name="studentfname" placeholder="First Name">
							<br>
							<br>
							Last Name<br>
							<input type="text" name="studentlname" placeholder="Last Name">
							<br><br>
							Phone Number<br>
							<input type="text" name="studentnum" placeholder="Phone Number">
							<br>
							<br>
							<input type="submit" name="submit" value="Book" class="book_btn">
						</form>
					</div>
					<div class="modal-footer">
						<h3 style="text-align: center;">The right guidance with EasyLicense!</h3>
					</div>
				</div>

			</div>
			</center>
		</div>
	</div>
			
		
		<div class="col-md-8" style="background-color: rgb(246,246,246);">
			<div id="main_profile">
			<h3 id="profile_name">
				{{teacher.name}}</h3>
			<br>
			<h4 class="profile_title">
			About
			</h4>
			<div id="profile_about">
				<p id="about_p">
					{{teacher.description}} 
				</p>
			</div>
			<br>
		</div>
	 </div>
	 </div> 
	</body>
</html>