

        <ul class="navbar-nav mr-auto">   
          <li class="nav-item navbar-item">
            <a class="nav-link navbar-item" href="https://www.facebook.com/EZLicense/"><i class="fab fa-facebook-square" style="color: white;"></i></a>
          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link navbar-item" href="https://www.instagram.com/easy.license/?hl=en"><i class="fab fa-instagram" style="color: white;"></i></a>
          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link navbar-item" href="https://www.linkedin.com/company/easylicense/"><i class="fab fa-linkedin" style="color: white;"></i></a>
          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link navbar-item" href="mailto:easylicense18@gmail.com?Subject=Hello"><i class="far fa-envelope" style="color: white;"></i></a>
          </li>
        </ul>
