{% extends "layout.html" %}
{% block content %}

<!-- STORYTELLER PROFILE -->

{% if current_user.id ==  profile.id %}
	<!-- <p>this is your profile. You are a storyteller.<p> -->
{% else %}
	<!-- <p>this is not your profile</p> -->
{% endif %}

<div class = "container-fluid" >
	<div class = "row" >
	
		<div class = "col-md-3" >
		{% if profile.profile_img !=  none %}
		<img src="{{url_for('static', filename='pictures/profile.png')}}" />
		{% else %}
		<img src="{{current_user.profile_img}}" />
		{% endif %}
		</div>

		<div class = "col-md-9">
		<h2> {{profile.name}} </h2>
		<h3> {{profile.city}} </h3>
		<h3> {{profile.country}} </h3>
		<h3> {{profile.profession}} </h3>
		</div>
	</div>

<h3> {{profile.bio}} </h3>

{{ profile.name }}'s journeys:



<div class = "row">
	{% for journey in st_journeys %}
		<div class = "col-md-4" >
		<a href="{{url_for('display_journey' , journey_id=journey.id)}}">{{ journey.title }}</a> 
		</div>
	{% endfor %}
</div>




{% if current_user.id == profile.id %}
	<form action="/add_journey" method="GET">
	<button type="submit"> Add Journey </button>
	</form>
{% endif %}

</div>
{% endblock %}