{% extends "layout.html" %}
{% block content %}

<!-- STORYTELLER PROFILE -->

{% if current_user.id ==  profile.id %}
	<!-- <p>this is your profile. You are a storyteller.<p> -->
{% else %}
	<!-- <p>this is not your profile</p> -->
{% endif %}

<div class = "container-fluid" >
<div class = "row" >
{% if profile.profile_img ==  none %}
<div class = "col-md-3 col-sm-4" >
<img src="{{url_for('static', filename='pictures/profile.png')}}" />
{% else %}
<img src="{{current_user.profile_img}}" />
{% endif %}

<h2> {{profile.name}} </h2>
</div>
<div class = "col-md-9 col-sm-8">
<h3> {{profile.city}} </h3>
<h3> {{profile.country}} </h3>
<h3> {{profile.profession}} </h3>
</div>
</div>

<h3> {{profile.bio}} </h3>

{{ profile.name }}'s journeys:




{% for journey in st_journeys %}
<a href="{{url_for('display_journey' , journey_id=journey.id)}}">{{ journey.title }}</a> 
<br>
{% endfor %}





{% if current_user.id == profile.id %}
	<form action="/add_journey" method="GET">
	<button type="submit"> Add Journey </button>
	</form>
{% endif %}

</div>
{% endblock %}