import os
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
PROJECT_DIR = os.path.join(TOP_LEVEL_DIR, 'project')

SQLALCHEMY_DATABASE_URI = "sqlite:///%s" % os.path.join(PROJECT_DIR, 'project.db')
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'dev'
DEBUG = True
