<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>

<h2>Form</h2>

<form id="form">
  First name<br>
  <input type="text" name="firstname" placeholder="First Name">
  <br>
  <br>

  Last name<br>
  <input type="text" name="lastname" placeholder="Last Name">
  <br>
  <br>

  City<br>
  <input type="text" name="city" placeholder="City">
  <br>
  <br>

  Charge<br>
  <input type="text" name="charge" placeholder="Charge">
  <br>
  <br>

  Description<br><textarea name="desciption" rows="10" cols="50" form="form" placeholder="Describe yourself..."></textarea>
</form>

</body>
</html>