body{
	font-family: helveticaneuelight;
	background-color: #f6f6f6;
}

h1{
	color: #0073a8;
	font-size: 40px;
}

.info{
    font-family: helveticaneuelight;
    color: grey;
    float: left;
    clear: left;
    padding-left: 5px;
    margin: 20px;
    font-size: 24px;
}

.login-titles{
	float: left;
	font-family: helveticaneuelight;
	font-size: 24px;
}

.btn{
	font-family: helveticaneuelight;
	background-color: #188fc4;
	color: #f6f6f6;
    border: none;
    padding: 24px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    float: right;
}

.btn:hover{
	background-color: #0073a8;
	color: white;
}

#btn-pos{
    position: relative;
    right: 5%;
    margin-top: -5%;
}

.text{
    padding-left: 5px;
}

#motto{
	position: relative;
	top: 50px;
}

#img{
	position: relative;
	width:70%;
	height: 70%;
	top: 10px;

}

.img-icon{
    width: 5%;
    height: 5%;
    float: left;
    padding-right: 20px;
}

.icons{
    min-width: 50px;
    min-height: 50px;
    margin: 25px;
    color: black;
}

.icons:hover{
    color: #0073a8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #fefefe;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #d7dee5;
    color: #188fc4;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    float: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #f6f6f6; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 70%; /* Could be more or less, depending on screen size */
    border: 1px solid #888;
    background-color: #f6f6f6;

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


.logo{
    height: 75px;
}

.signbutton{
color: white;
font-weight: 300;
font-size: 25px;
background-color: #188fc4;
height: 100px;
width: 200px;
border-radius: 20px;
/*font-size: 20px;*/

}

.login-btn{
	background-color: white;
	font-size: 16px;
	font-family: helveticaneuelight;
	color: #0073a8;
}

.login-btn:hover{
	background-color: #188fc4;
	color: white;
}

.login{
	background-color: #20B2AA;
	font-size: 24px;
	font-family: helveticaneuelight;
	color: white;
	width: 25%;
}

.login:hover{
	background-color: white;
	color: #20B2AA;
	font-family: helveticaneuelight;
}
#feed_btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;

}

#login_box{
    background-color: #0073a8;
    margin:5%;
    width: 70%;
    color: white;
    box-shadow: 2.5px 5px 4px #888888;
    font-family: helveticaneuelight;
}

#login_title{
    color: white;
    font-weight: lighter;
    font-family: helveticaneuelight;
}

#keep_sign_in{
    text-align: left;
    width: 100%;
}

#signup_box{
    background-color: #0073a8;
    margin:5%;
    color: white;
    box-shadow: 2.5px 5px 4px #888888;
    font-family: helveticaneuelight;

}

#login_title{
    color: white;
    font-weight:2000;
    font-size: 30px;
    font-family: helveticaneuelight;
}

#signup_title{
    color: white;
    font-weight:2000;
    font-size: 30px;
    font-family: helveticaneuelight;
}

#h2{
    color: white; 
    margin-top: 0;
    font-family: helveticaneuelight;
}

.bars2{
    background: white; 
    border-radius: 0px; 
    height: 50px; 
    width: 100%;
    font-size: 24px;
    width: 100%;
    padding-left: 0px;
}

.bars{
    background: white;
    border-radius: 0px;
    height: 50px; 
    width: 100%;
    font-size: 18px;
    width: 100%;

}

.label{
    color: white;
    float: left;
    font-size: 20px;
    padding: 0px;
    font-family: helveticaneuelight;
    padding-top: 20px;
    width: 100%;
}

.input{
    font-family: helveticaneuelight;
    color: grey;
}


.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}