 body{

     	 background: url("{{ url_for('static', filename='pictures/background2.jpg') }}");


    }

    .imag2{
    	width: 25%;
    	height: 100%;
    	     display: block;
    	 margin-left: auto;
    margin-right: auto;
    }

    .p_fonts{
    	font-style: italic;
    	color: white;
    	font-size: 50px;
    	
    	    }
	#p1{
		margin-left: 300px;
	}
	#p2{
		margin-left: 400px; 
	}
	#bt1{
		 margin: 4px 500px;
		   background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	}
	#by1:hover {
    box-shadow: 0 12 px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
