body {
	font-family: Arial, Helvetica, sans-serif;
}

.main_table{
 width: 100%;
 height:800px;
 background-image: url("../pictures/bacpicRed.jpg");
 background-repeat: no-repeat;
 padding-top: 70px;

}

.login_page_container {
 padding: 20px;
 color: white;
 border-radius: 15px;
 width: 500px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 background: black;
 background: -webkit-linear-gradient(top, rgb(0, 0, 0, 0.89), rgb(116,116,116,0.89));
}


/* Full-width inputs */
.login_page_textbox { 
 position: center;
 background: transparent;
 border-top: none;
 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 margin: 35px 0 10px 0;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 vertical-align: middle;
 color:rgb(242, 242, 242);
 display: block;
 }

.login_page_textbox::placeholder, .login_page_textbox::placeholder {
 color: rgba(255,255,255,0.7);
 }

.login_page_textbox:focus, .login_page_textbox:focus {
 outline: none;
 }

 .login_page_textbox:focus::placeholder, .login_page_textbox:focus::placeholder{
 	color: transparent;
 }

.imgcontainer {
 text-align: center;
}

/* logo image */
#logo {
 width: 30%;
 /*border-radius: 50%;*/
 display: block;
 margin-left: auto;
 margin-right: auto;
 /*background-color:rgba(255,255,255,1);*/
 }


/*login button*/
.btn{
 background-color: rgba(225,225,225);
 color: black;
 padding: 2px;
 border: none;
 cursor: pointer;
 width: 75px;
 border-radius: 5PX;
 font-size: 15px;
 display: block;

}

.btn:hover {
 /*background-color: rgba(230, 92, 0, 0.89);*/
 opacity: 0.8;
}

 

.profile-body {
 background-color:transparent;
 ;
}

.profileform {
 border-radius: 15px;
 width: 500px;
 height: 600px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 background: linear-gradient(to top, rgba(204,0,0), rgba(230, 92, 0));
 }

.imgcontainer {
 text-align: center;
}

.title {
 color: grey;
 font-size: 18px;
}

.form_switch_span {
  display: inline;
  margin-top: 20px;
}

.form_switch_link {
 color: white;
 text-decoration: underline;
 margin-top: 10px;
}


.error_message {
	margin: 0;
	display: none;
	color: red;
}



/*MAIN FEED PAGE */
.main_feed_body{
	background-color: rgb(51, 17, 0);
}


.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.form_switch_link{
	display: inline;
	color: white;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.page_switch_form{
	display: inline;
}

.form_switch_link:hover{
	cursor: pointer;
}

.form_switch_link:focus{
	outline: none;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.topnav {
  overflow: hidden;
 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  
  color: white;
}