body {
	font-family: Arial, Helvetica, sans-serif;
}

.main_table{
 width: 100%;
 height:800px;
 background-image: url("../pictures/bacpicRed.jpg");
 background-repeat: no-repeat;
 padding-top: 70px;

}
 

.profile-body {
 background-color:transparent;
}

.profileform {
 border-radius: 15px;
 width: 500px;
 height: 600px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 background: linear-gradient(to top, rgba(204,0,0), rgba(230, 92, 0));
 }

.imgcontainer {
 text-align: center;
}

.title {
 color: grey;
 font-size: 18px;
}


/*MAIN FEED PAGE */
.main_feed_body{
	background-color: rgb(51, 17, 0);
}


.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.topnav {
  overflow: hidden;
 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  
  color: white;
}

.jumbotron-img{
    max-width: 100%;
    background-color: black;
}

#feed_img{
    max-width: 120%;
}