
.text{
  	color: black;
	  }

#button {
  padding: 5px 55px;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

#button:hover 
{background-color: #67300d}

#button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
{

}
#header{
	font-family: "Montserrat", sans-serif;
    font-size: 40px;
}
 .explain{
    font-family: "Montserrat", sans-serif;
 	font-size: 20px;
 }


#title{
	font-family: "Montserrat", sans-serif;
	font-size: 25px
	text-align: left;
}
.post_textbox { 
 position: center;
 background: transparent;
 border-top: none;
 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 margin: 50px 0 35px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 vertical-align: middle;
 color: black;
 display: block;
 }
.row{
 padding: 12px 20px;
 margin: 50px 0 35px;

}
 #title{
 border-top: none;

 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 color: black;
 vertical-align: middle;
 display: block;
 }

#text{
	height:200px;
	width:500px;
	color: black;

}

.container{
	margin-top: 30px;
	margin-left: 30px;
}

.btn {
	margin-bottom: 15px;
}
