body{
	font-family: helveticaneuelight;
	background-color: #f6f6f6;
}

h2{
	color: white; 
	margin-top: 0;
	font-family: helveticaneuelight;
}

.bars2{
	background: white; 
	border-radius: 0px; 
	height: 50px; 
	width: 100%;
	font-size: 24px;
}

.bars{
	background: white;
	border-radius: 0px;
	height: 50px; 
	width: 100%;
	font-size: 18px;
}

.label{
	color: white;
	float: left;
	font-size: 20px;
	padding: 0px;
	font-family: helveticaneuelight;
	padding-top: 20px;
}

.input{
	font-family: helveticaneuelight;
	color: grey;
}

.signup-btn{
	background-color: #4CAF50;
	font-size: 24px;
	font-family: helveticaneuelight;
	color: white;
	width: 25%;
}

.signup-btn:hover{
	background-color: white;
	color: #4CAF50;
	font-family: helveticaneuelight;