

.biglogo{
  height: 350px;
}

html,body{
	color: rgb(246,246,246);
	margin-right: 60px;
	margin-left: 60px;
  background-color: #36D02A;
}
h3{
	color: rgb(31, 122, 140)
}
p{
	color: rgb(31, 122, 140);
	font: helvetica;
}
form{
	color: rgb(31, 122, 140);
	font: helvetica;
}
table{
	color: rgb(31, 122, 140);
	font: helvetica;
}
th{
	text-align: left;
}
td{
	text-align: right;
}
.logo{
	height:200px;
}
#profile_picture{
	border: 5px solid rgb(184, 255, 114);
	border-radius: 50%;
  height: 350px
  width:350px;
  align-content: center;
}
.column {
  float: left;
  width: 31.85%;
  margin-bottom: 16px;
  padding: 0 8px;
  background-color: rgb(0,170,170);

}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(246, 246, 246);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.feed_insturctor{
  color: rgb(246, 246, 246); 
}


ul.filter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 122, 140);
}

li.filter {
    float: left;
}

li.filter select {
    display: block;
    color: rgb(31, 122, 140);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

#side_profile{
  width: 375px;
  height: 600px;
  color:rgb(246,246,246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-self: left;
}
h3{
color:white;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 30px;
}

.whitelogo{

  height: 100px;
}

.landingbutton{
color: black;
font-family: "Comic Sans MS", cursive, sans-serif;
background-color: white;
height: 100px;
width: 200px;
}