
body{
     background-image: url("image1.png");
     height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form, input {

    -webkit-appearance: textfield;

    background-color: #D9DBDC;

    cursor: text;

    padding: 10px 10px;

    border-width: 0px;

    border-style: inset;

    border-color: #D9DBDC;

    border-image: initial;

    border-radius: 7px;

}


.textbox, input, textarea, select, button {

    text-rendering: auto;

    color: black;

    letter-spacing: normal;

    word-spacing: normal;

    text-transform: none;

    text-indent: 0px;

    text-shadow: none;

    display: inline-block;

    text-align: start;

    margin: 0em;

    font: 400 13.3333px Arial;

}



form, input, textarea, select, button, meter, progress {

    -webkit-writing-mode: horizontal-tb !important;

}



.button2 {

    background-color: #1C6E8C;

    border: none;

    color: white;

    padding: 6px 60px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 20px;

    cursor: pointer;

    border-radius:7px;
}


.input {
   display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 2px solid white;
  -webkit-border-radius: 10px;
  border-radius: 30px;
  font: normal 16px/normal Arial;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,0.1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.head1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 60px/1 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif,bold;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.div1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1100px;
  padding: 20px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  border-radius: 1px;
  font:normal 20px/1 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: white;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background:rgba(400,400,400,0.2);
 
  
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

}

.button2s {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 3px solid white;
  -webkit-border-radius: 10px;
  border-radius: 30px;
  font: normal 16px/normal Arial,bold;
  color: white;
  background:rgba(26,255,26,0.6);
  

}

.words {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 24px/normal Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif,bold;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: right;
  width: 180px;
}

.div2{
     background:rgba(400,400,400,0.0);

}