.fixed-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    /* The image used */
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.row{
    width: 100%

}

form, input {

    -webkit-appearance: textfield;

    background-color: #D9DBDC;

    cursor: text;

    padding: 10px 10px;

    border-width: 0px;

    border-style: inset;

    border-color: #D9DBDC;

    border-image: initial;

    border-radius: 7px;

}


.textbox, input, textarea, select, button {

    text-rendering: auto;

    color: black;

    letter-spacing: normal;

    word-spacing: normal;

    text-transform: none;

    text-indent: 0px;

    text-shadow: none;

    display: inline-block;

    text-align: start;

    margin: 0em;

    font: 400 13.3333px Arial;

}.container {
        width: 100%;
        height: 90px;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.5);
}



form, input, textarea, select, button, meter, progress {

    -webkit-writing-mode: horizontal-tb !important;

}



.button {

    background-color: #1C6E8C;

    border: none;

    color: white;

    padding: 6px 60px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 20px;

    cursor: pointer;

    border-radius:7px;
}
.typewriter{
    position: absolute;
    top: 200px;
    left: 75px;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; 
  color:white;/* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite,
    blink-caret infinite;
    
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }

}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}