
.valid_text_space{
  width: 1270px;
    padding: 40px;
    border: 5px solid black;
    margin: 0;
    background-color: black;
    color: white;
}


.imag{
	height: 100px;
	width: 20%;
}
body{

	background: url("../pictures/backgroundfeed.jpg");

}



#button {
  padding: 5px 55px;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}


#button:hover 
{background-color: brown}

#button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





