#story_title{
	font-size: 50px;
	font-family:  "Montserrat", sans-serif;


}
#description_block	{
font-family:  "Montserrat", sans-serif;
}
/*#img_wrapper {
	width: 500px;
	height: 600px;

}*/

#post_img {
	max-width: 100%;
}

.jumbotron-img{
	max-width: 100%;
	background-color: black;
}

#info{
	height: 100%;
}